# .github/workflows/build-and-delivery.yml

name: Build and Delivery

on:
  workflow_run:
    workflows: ["Test Python App"]
    types:
      - completed  
    branches:
      - main  #  Только для ветки main

jobs:
  cd:  
    runs-on: ubuntu-latest 
    
    # Запуск только если предыдущий workflow завершился успешно
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        
      - name: Login to Docker Hub
        uses: docker/login-action@v3 
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6 
        with:
          push: true  
          tags: ${{ vars.DOCKERHUB_USERNAME }}/my-app:latest 
